<div>
  <h1 class="font-bold text-4xl">Profile</h1>
  <div>
    <p>Username: <%= @profile.username %> </p>
  </div>
  <div>
    <p>Bio: <%= @profile.bio %> </p>
  </div>

  <br>
  <%= link_to  'Edit Profile', profiles_edit_path, :method => :get, class:"bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline" %>
  <%= link_to  'View Profile', profiles_show_path(:profile), :method => :get, class:"bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline" %>
</div>
