<div>
  <% if @profile %>
  <h1 class="font-bold text-4xl"> <%= @profile.username %> </h1>
    <br/>
    <div>
      <h3>About <%= @profile.username %></h3>
      <br/>
      <% @profile.bio %>
      <br/>
      <h3>Tags go here</h3>
      <br/>
      <h3>art links here</h3>
    </div>
  <% else %>
  <h1 class="font-bold text-4xl">User does not exist!</h1>
  <% end %>
</div>


