<h1 class="font-bold text-8xl"> My Matches </h1>

<br/>
<br/>

<div class="flex flex-col items-stretch gap-y-1">
  <% @friends.each do |frndObj| %>

    <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex justify-between items-center">
      <div class="font-bold text-2xl">
          <%= frndObj[:username] %>
      </div>

      <div class="flex gap-x-2">
        <%= button_to 'Chat', {:controller => "chats", :action => "create", :username => frndObj[:username]} , {:method=>:post, :id => frndObj[:username], class: "bg-sky-400 hover:bg-sky-500 text-sky-900 font-bold py-2 px-4 rounded text-center focus:outline-none focus:shadow-outline"} %>
        <%= button_to  'View Profile', profiles_path(frndObj[:id]), :method => :get, class: "bg-sky-400 hover:bg-sky-500 text-sky-900 font-bold py-2 px-4 rounded text-center focus:outline-none focus:shadow-outline" %>
      </div>
    </div>

  <% end %>
</div>
