<div>
  <% if @potential_match %>
  <h1 class="font-bold text-4xl">Profile</h1>
  <div>
    <p>Username: <%= @potential_match.username %> </p>
  </div>
  <div>
    <p>Bio: <%= @potential_match.bio %> </p>
  </div>

  <br>
  <%= button_to  'Interested', swipes_path(:interested => true, :profile_id => @potential_match.id, :username => @potential_match.username), :method => :post, class:"bg-green-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline" %>
  <%= button_to  'Not Interested', swipes_path(:interested => false, :profile_id => @potential_match.id, :username => @potential_match.username), :method => :post, class:"bg-red-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline" %>
    
  <% else %>
    <h1 class="font-bold text-4xl">You've run out of profiles in your area! Try again later</h1>
  <% end %>
</div>