<h1>Chat</h1>

<div>
    <%= link_to "New Chat", friends_path, :class => 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'%>

    <div><h3>Current Chats</h3></div>
    <% @chats.each do |chat| %>
        <div>
            <%= link_to chat[:name], chat_path(chat[:id]), :class => 'text-blue-600 hover:text-blue-700 transition duration-300 ease-in-out mb-4' %>
        </div>
    <% end %>
</div>