<h1 class="font-bold text-8xl"> Chats </h1>

<br/>
<br/>

<div class="flex flex-col items-stretch gap-y-1">
  <% @chats.each do |chat| %>
      <%= link_to chat[:name], chat_path(chat[:id]),
        class: "text-2xl font-bold p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex justify-between items-center hover:bg-orange-200" %>
  <% end %>
</div>
<br/>
<br/>

<% if @collective_chats.length > 0 %>
<h1 class="font-bold text-4xl"> Collective Chats </h1>
<div class="flex flex-col items-stretch gap-y-1">
  <% @collective_chats.each do |chat| %>
      <%= link_to chat[:name], chat_path(chat[:id]),
        class: "text-2xl font-bold p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex justify-between items-center hover:bg-orange-200" %>
  <% end %>
</div>
<br/>
<br/>
<% end %>
  <%= link_to "New Chat", friends_path, class: "bg-rose-400 hover:bg-rose-500 font-bold py-2 px-4 rounded text-center focus:outline-none focus:shadow-outline w-40 mx-auto"%>